/* Variables */
:root {
  --color-dark-background: #383731;
  --color-light-background: #D5C9BF;
  --color-darker-background: #151718;
  --color-alternative: #A5806F;
}





/* Introduction Section */
#introduction-container #my-photo {
  box-shadow: 0 0 3rem #15171875;
  width: 250px;
  height: 250px;
}

#introduction-container .nav-link {
  transition: all .3s ease-out;
}
#introduction-container .nav-link:hover {
  transform: scale(1.2);
}

#introduction-container .bi {
  font-size: 24px;
  color: var(--color-light-background);
  opacity: .75;
  transition: all .3s ease-out;
}
#introduction-container .bi:hover {
  opacity: 1;
}

#introduction-container #skills-icons-container {
  box-shadow: 0 0 3rem #d5c9bf2f;
  background-color: var(--color-light-background);
}

#introduction-container #skills-icons-container img {
  width: 30px;
  height: 30px;
  transition: all .3s ease-out;
}

#introduction-container #skills-icons-container img:hover {
  transform: scale(1.25);
}