.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all ease 1.4s;
  border-color: var(--color-light-background);
}

.card:hover {
  transform: scale(1.1);
}

.inner {
  overflow: hidden;
  height: 200px;
}

.inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .bi-github {
  color: #161b22;
}