/* 
 * General 
 * ==================================================
 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #e6dbd0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container style */
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px;
}
/* ================================================== */



/* 
 * Left side 
 * ==================================================
 */
.left-side {
  position: relative;
  background: #5e503f;
  padding: 40px;
}

/* Image, Name & Role style */
.profile-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1bb80;
}

.image-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-text h2 {
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profile-text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

/* Contact info style */
.contact-info {
  padding-top: 40px;
}

.title {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact-info ul {
  position: relative;
}
.contact-info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #e1bb80;
}
.contact-info ul li .text,
.contact-info ul li .text a {
  color: #ffffff;
  text-decoration: none;
}

/* Skills */
.skills,
.languages {
  padding-top: 40px;
}


.skill-content ul li,
.language-content ul li {
  color: #ffffff;
  list-style: none;
}

.skill-content ul li:before,
.language-content ul li:before {
  content: '\2022';
  margin: 0 20px 0 0;
  color: #e1bb80 /* cor da bolinha */
 }



/* ================================================== */



/* 
 * Right side 
 * ==================================================
 */
.right-side {
  position: relative;
  background: #ffffff;
  padding: 40px;
}

.about-me,
.education,
.extra-course,
.projects {
  padding-top: 40px;
}

.main-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #5e503f;
  margin-bottom: 20px;
  border-bottom: 1px solid #5e503f;
  padding-bottom: 10px;
}

.main-text {
  font-size: 1em;
  color: #3d3d3d;
}

.item-text {
  font-size: 1.05em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #5e503f;
}

.item-text a {
  color: #5e503f;

}

.item-text span {
  margin-left: 10px;
}

.date {
  font-size: 0.75em;
  color: #5e503fbb;
}

/* 
background 1: #e6dbd0
background 2: #ffffff

alternative dark: #5e503f
alternative light: #e1bb80
*/