/* 
background 1: #e6dbd0
background 2: #ffffff

alternative dark: #5e503f
alternative light: #e1bb80
*/

/* General Style */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #e6dbd0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



/* Container style */
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px;
}



/* Left side style */
.left-side {
  position: relative;
  background: #5e503f;
  padding: 40px;
}

/* Image, Name & Role style */
.profile-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #F7FFF6;
}

.image-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-text h2 {
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profile-text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

/* Contact info style */
.contact-info {
  padding-top: 40px;
}

.title {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact-info ul {
  position: relative;
}
.contact-info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contact-info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #e1bb80;
}
.contact-info ul li .text,
.contact-info ul li .text a {
  color: #ffffff;
  text-decoration: none;
}


/* Right side style */
.right-side {
  position: relative;
  background: #ffffff;
  padding: 40px;
}